.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  justify-content: space-between;
}

.new-expense__control label {
  font-weight: 400;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #d4f1f4;
  min-width: 200px;
  max-width: 95%;
  color: #05445e;
}

.new-expense__actions {
  text-align: left;
}
.new-expense__actions button:first-child {
  color: #05445e;
}
